name: C++ CI

on: [push, pull_request]

jobs:
  build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install dependencies
      run: brew install gsl
    - uses: actions/setup-python@v5
      with:
        python-version: "3.10"
    - name: Install numpy
      run: pip install numpy matplotlib
    - name: Configure CMake
      run: cmake -B build -DCMAKE_BUILD_TYPE=Release
    - name: Build
      run: cmake --build build
